/*将标签默认间距设为零 */
body,p,h1,h2,h3,h4,h5,h6,ul,dl,dt,form,input{
	margin: 0;
	padding: 0;
}

/*将ul默认的小圆点去掉*/
ul{
	list-style: none;
}

/*去掉a标签的下划线*/
a{
	text-decoration: none;
}

/*设置不倾斜*/
em{
	font-style: normal;
}

/*去掉在IE浏览器啊中用图片做链接时生成的边框*/
img{
	border: 0;
}

/*让h标签继承body中字体大小*/
h1,h2,h3,h4,h5,h6{
	font-size: 100%;
}

/*清除浮动   解决margin-top塌陷问题*/
.clearfix:after, clearfix:before{
	content: "";
	display: table;
}
.clearfix:after{
	clear: both;
}
.clearfix{
	zoom: 1;
}

/*左浮动   右浮动*/
.fl{
	float: left;
}

.fr{
	float: right;
}
